<div class="page-header" >
    <nav class="navbar navbar-default" style="display:none">
            <ul class="nav navbar-nav">
                {{#if about}}
                    <li ><a  class="header" href="/">Home </a></li>
                    <li><a style="font-weight: bold; color: cadetblue;" class="header" href="/about">About</a></li>
                    <li><a class="header" href="/projects">Projects</a></li>
                    <li><a class="header" href="/experience">Experience</a></li>
                    <li><a class="header" href="KhaNguyenResume.pdf">Resume</a></li>
                {{/if}}

                {{#if projects}}
                    <li ><a  class="header" href="/">Home </a></li>
                    <li><a  class="header" href="/about">About</a></li>
                    <li><a style="font-weight: bold; color: cadetblue" class="header" href="/projects">Projects</a></li>
                    <li><a class="header" href="/experience">Experience</a></li>
                    <li><a class="header" href="KhaNguyenResume.pdf">Resume</a></li>
                {{/if}}

                {{#if experience}}
                    <li ><a  class="header" href="/">Home </a></li>
                    <li><a  class="header" href="/about">About</a></li>
                    <li><a class="header" href="/projects">Projects</a></li>
                    <li><a style="font-weight: bold; color: cadetblue" class="header" href="/experience">Experience</a></li>
                    <li><a class="header" href="KhaNguyenResume.pdf">Resume</a></li>
                {{/if}}
            </ul>
    </nav>
</div>