<div class="container max col-xs-12 col-md-12 col-lg-12">
    <div class="middle">
        <div>
            <img src="images/Kha.jpg"  alt="My pic" style="width:400px;height:400px; -webkit-border-radius: ;-moz-border-radius: ;border-radius: 25px;"/>
        </div>
        <div style="color: #CD5555">
            <p>
                Hi, my name is Kha. Please call me Kyle. I was born and grew up in Vietnam. I love Vietnamese music, street food, and lunar new year.

                I love making new friends, traveling, singing, and coding. <br/>
            </p>
        </div>
    </div>
</div>