<div class="container max col-xs-12 col-md-12 col-lg-12">
    <div class="container">
        <div id="my-picture-div" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <img src="images/kha.jpg"  alt="My pic"/>
        </div>
        <div  class="col-lg-7 col-md-7 col-sm-6 col-xs-12" id="info-note" >

            <button id="background-button" class="about-button" style="color: cadetblue;">Background</button>
            <button id="education-button" class="about-button">Education</button>
            <button class="about-button">Achievement</button>
            <p class="background-about">
                Hi, my name is Kha. <br/>
                I'm currently a Senior at UW CSE. <br/>
                I'm passionate about coding. I make cool apps in my free time, learn new programming languages
                and get involved in research at UW. <br/>
                <button id="more-background""> ... </button>
            </p>


            <p id="bg" style="display: none">
                I was born and grew up in Vietnam. I love Vietnamese music, street food, and lunar new year.
                In 2013, my parents decided to move to USA. I know it was hard for them to start a new life all over
                again, especially when they don’t know English. But as the chance came, they made the decision for me
                to have a better life. I feel thankful for what I have had today and always live the best
                to worth my time and my parents’ sacrifice.
            </p>
            <p id="education" style="display: none">
                <strong>University of Washington</strong>, Seattle, WA <br/>
                <em class="tab" style="font-size: 20px">Major: Computer Science</em>.
                <em class="tab" style="font-size: 20px">GPA: 3.59</em> <br />

                <strong>Highline College</strong>, Des Moines, WA <br/>
                <em class="tab" style="font-size: 20px">Major: Computer Science</em>.
                <em class="tab" style="font-size: 20px">GPA: 3.99</em> <br />

                <strong> Nguyen Thuong Hien High School</strong>, Vietnam <br/>
                <em class="tab" style="font-size: 20px">Graduated on July 2012</em>.

            </p>

            <p class="achievement" style="display: none">
                <ul class="achievement" style="display: none">
                <li><strong>  InfoSpace Endowed Scholarship for the 2016 academic year.</strong>
                </li>
                <li><strong> Second Prize, <a
                        href="http://c.ymcdn.com/sites/www.amatyc.org/resource/resmgr/student_math_league/ranking_tables_round_1_2014-.pdf"> Northwest Region Individual Standings </a>,
                    American Mathematical Association of Two-year Colleges competition, Fall 2014</strong>
                </li></ul>
            </p>



        </div>
    </div>
</div>