<div class="container max col-xs-12 col-md-12 col-lg-12">
    <div class="middle">
        <h1> Hello there </h1>
        <div>
            <img src="images/kha.jpg" alt="My pic" style="width:300px;height:500px;"/>
        </div>
        <div style="color: #CD5555">
            <p>
                <strong>
                    Just to let you know that I don't actually look as this cool outside. Hahaha.
                </strong>

                <br/>
                <strong> Fun (or not) fact: </strong>
                I love making new friends, traveling, singing, and coding. <br/>
            </p>
        </div>
    </div>
</div>