<div>
    <h1> KHA NGUYEN </h1>
    <p id="intro">
        Hi, my name is Kha. It sounds like <strong>Ca</strong>lifornia. <br/>
        I'm a Junior at the University of Washington and am majoring in Computer Science.
    </p>
    <p>
        <a class="section" href="https://www.facebook.com/KhHNg">
            <img src="images/facebook.png" alt="My Facebook" style="width:80px;height:80px;" />
        </a>
        <a class="section" href="https://github.com/ykhanguyen">
            <img src="images/github.png" alt="My Github" style="width:80px;height:80px;" />
        </a>
        <a class="section" href="https://www.linkedin.com/in/kha-nguyen-0660ba76">
            <img src="images/linkedin.png" alt="My Linkedin" style="width:80px;height:80px;" />
        </a>
    </p>
    <a href="#about"> About me </a>
</div>

<div id="about" >
    <h2> Hello there </h2>
    <p>
        <img src="images/kha.jpg" alt="My pic" style="width:300px;height:500px;"/>
        <strong>
            Just to let you know that I don't actually look as this cool outside. Hahaha.
        </strong>

        <br/>

        <strong> Fun (or not) fact: </strong>
        I love making new friends, traveling, singing, and coding. <br/>
        These below are my goals for this quarter (Spring 2016):
    </p>
    <ul>
        <li> Make a super cool personal website</li>
        <li> Always stay in busy (Live the best as I can)</li>
        <li> Love all the people around me </li>
    </ul>
</div>