<div class="container max">
    <div class="middle">
        <h1> KYLE NGUYEN </h1>
        <p id="intro">
            Senior -- UW CSE
        </p>
        <p>
            <a   href="https://www.facebook.com/KhHNg">
                <i class="fa fa-facebook-square fa-2x"> </i>
            </a>
            <a  href="https://github.com/ykhanguyen">
                <i class="fa fa-github-square fa-2x"> </i>
            </a>
            <a  href="https://www.linkedin.com/in/kha-nguyen-0660ba76">
                <i class="fa fa-linkedin-square fa-2x"> </i>
            </a>

            <a href="mailto:ykha@uw.edu">
                <i class="fa fa-envelope-square fa-2x"> </i>
            </a>
        </p>
        <a href="/about" id="about"> more about me </a>
        /
        <a href="/projects"> my projects</a>
        /
        <a href="/experience"> experience</a>
    </div>
</div>
