<div class="container max">
    <div class="middle">
        <h1> KYLE NGUYEN </h1>
        <p id="intro">
            Senior -- UW CSE
        </p>
        <p>
            <a   href="https://www.facebook.com/KhHNg">
                <i class="fa fa-facebook-square fa-2x" style="color:#cccccc"> </i>
            </a>
            <a  href="https://github.com/ykhanguyen">
                <i class="fa fa-github-square fa-2x" style="color:#cccccc"> </i>
            </a>
            <a  href="https://www.linkedin.com/in/kyle-nguyen-223915126">
                <i class="fa fa-linkedin-square fa-2x" style="color:#cccccc"> </i>
            </a>

            <a href="mailto:ykha@uw.edu">
                <i class="fa fa-envelope-square fa-2x" style="color:#cccccc"> </i>
            </a>
        </p>
        <a href="/about" id="about" style="color:#cccccc"> about me </a>
        /
        <a href="/projects" style="color: #cccccc"> projects</a>
        /
        <a href="/experience" style="color: #cccccc"> experience</a>
        /
        <a href="KhaNguyenResume.pdf" style="color: #cccccc"> resume</a>
    </div>
</div>
