<div class="container max col-xs-12 col-md-12 col-lg-12">
    <div class="middle">
        <h2>Projects</h2>

            {{!-- 2. The each helper can insert an array of data --}}

    <div class="row">
            {{#each projects}}
                <div class="col-lg-4 col-md-4 col-sm-10 col-xs-12" style="width: 300px; height: 300px">
                    <div class="projects hovereffect">

                        <img src="images/{{image}}"  class="img-rounded img-responsive" alt="Cinque Terre">
                        <div class="overlay">
                            <h2 class="title">{{project}}</h2>
                            <p>
                                {{#if description}}
                                    <a href="#">
                                        <abbr title="description"> <i class="glyphicon glyphicon-plus"></i></abbr>
                                    </a>
                                {{/if}}

                                {{#if github}}
                                    <a href="{{github}}">
                                        <abbr title="github">
                                            <i class="fa fa-github"></i>
                                        </abbr>
                                    </a>
                                {{/if}}

                                {{#if website}}
                                    <a href="{{website}}">
                                        <abbr title="website">
                                            <i class="glyphicon glyphicon-globe"></i>
                                        </abbr>
                                    </a>
                                {{/if}}
                            </p>

                        </div>
                    </div>
                </div>
            {{/each}}

    </div>
    </div>
</div>