body {
	background-color: #753C3C;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
}

h1 {
	text-align: center;
	font-family: Serif, Helvetica, Arial;
	font-size: 50px;
	color: #CD5555;
}

a:visited {
	color: white;
}

#intro {
	color: #EE7C7C;
}

#intro strong {
	text-decoration: underline;
	color: #7C84EE;
}

.section:hover {
	opacity: 0.3;
}

.max {
	position: absolute;
	display: table;
	width: 90%;
	height: 100%;
	margin-top: -3rem;
	margin-left: 5%;
	overflow: hidden;
	z-index: 10;

}

#about {

	padding-top: 10px;
	color: #EC8EBA;
}

#about ul, #about p {
	text-align: left;
}

#about img {
	vertical-align: top;
	margin-left: 20px;
	margin-right: 50px;
}

.middle {
	display: table-cell;
	vertical-align: middle;
	padding-top: 100px;
	padding-bottom: 100px;
}
a {
	text-decoration: none;
}

.page-header {
	position: fixed;
	top: -40px;
	z-index: 50;
	text-align: center;
	border: none;
	margin-left: auto;
	margin-right: auto;
	left:auto;
	right:auto;
}

li {
	float: left;
}
#hello {
	font-style: italic;
}